config monitoring 'monitoring'
	option monitored_interfaces '*'
	option interval '300'
	option verbose_mode '0'
	option required_memory '0.05'
	option max_retries '5'
	#option bootup_delay '10'
	#option ignore_wifi 'phy0-mesh0'
	#list ignore_wifi_mac '00:30:04'
	#list ignore_wifi_mac 'aa:12:a4:1a:bc:02'
	#list ignore_wifi_mac 'bb:34:c4:1B:7B:03'